h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
}

/* New styles start here */

/* Gradient background for the page */
body {
  background: linear-gradient(to bottom, #ff9a9e, #fecfef);
}

/* Unique theme colors */
:root {
  --main-color: #fb8b24;
  --secondary-color: #e9c46a;
  --tertiary-color: #264653;
}

/* Style the question container */
.question-container {
  margin: 0 auto;
  padding: 30px;
  background-color:  rgb(163, 10, 168);
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: fit-content;
  width: 100%;
  max-width: 900px; 
  margin: 0 auto;
  border: 5px solid#000000;
}


/* Header styles */
.question-container h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: var(--main-color);
}

/* Country stats styles */
.question-container #country_stats {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}



.question-container #country_stats b {
  font-size: 24px;
  font-weight: bold;
  position: relative;
  color:#ffffff;
  text-align: center;
}

/* Other country stats styles */
.question-container #country_other_stats {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-top: 30px;
}

.other_box{
  padding: 10px;
  margin-left: 20px;
  border-radius: 20px;
}

bubble{
  background-color: white;
  border-radius: 1000px;
  color: black;
  font-size: 100%;
  font-weight: bold;
  width:8vw;
  aspect-ratio: 1/1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 770px) {

bubble{
  background-color: rgb(255, 255, 255);
  border-radius: 1000px;
  color: black;
  font-size: 100%;
  font-weight: bold;
  width:15vw;
  aspect-ratio: 1/1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
}

/* Search styles */
.question-container .search-container {
  position: relative;
  margin-top: 30px;
}

.mobile-search-container {
  background-color: grey;
  width: calc(100vw - 40px);
  height: calc(100vh - 60px);
  padding: 20px;
  position: fixed;
  top:0px;
  left:0px;
  margin: 20px;
  border-radius: 20px;
  display: none;
}

.mobile_guess_btn{
  display: none;
}


@media screen and (max-width: 768px) {
  .search-container{
    display: none;
  }
  

  .mobile_guess_btn{
    display: block;
  }
}

.question-container .search-inner {
  position: relative;
}

.question-container .search-inner input {
  width: 100%;
  height: 40px;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--tertiary-color);
  margin-top: 20px;
}

.question-container .dropdown {
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  }
  
  .question-container .dropdown li {
    
  list-style: none;
  padding: 10px;
  font-size: 18px;
  color: var(--tertiary-color);
  cursor: pointer;
  }
  
  .question-container .dropdown li:hover {
  background-color: var(--secondary-color);
  }
  
  .question-container .dropdown.active {
  display: block;
  }
  
  /* Answer styles */
  .answer-container {
  margin-top: 30px;
  display: none;
  }
  
  .answer-container p {
  font-size: 18px;
  line-height: 1.5;
  }
  
  .answer-container p:first-of-type {
  font-weight: bold;
  margin-bottom: 10px;
  }
  
  .answer-container img {
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  }
  
  .answer-container ul {
  margin-left: 20px;
  }
  
  .answer-container li {
  margin-bottom: 5px;
  }
  
  .answer-container a {
  color: var(--main-color);
  }
  
  .answer-container a:hover {
  text-decoration: underline;
  }
  
  /* Show more/less button styles */
  .show-more-button {
  display: block;
  margin-top: 30px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  cursor: pointer;
  }
  
  .show-less-button {
  display: none;
  }
  

  
  
  /* Mobile styles */
@media screen and (max-width: 768px) {
  .question-container {
  padding: 20px;
  border-radius: 10px;
  }
  
  .question-container h2 {
  font-size: 24px;
  }
  
  .question-container #country_stats {
  flex-direction: column;
  margin-top: 20px;
  }
  
  .question-container #country_stats b {
  margin-bottom: 10px;
  }
  
  .question-container .search-container {
  margin-top: 20px;
  }
  
  .question-container .search-inner input {
  font-size: 16px;
  height: 30px;
  padding: 8px;
  }
  
  .question-container .dropdown li {
  padding: 5px;
  font-size: 16px;
  }
  
  .show-more-button, .show-less-button {
  font-size: 16px;
  padding: 8px 20px;
  }

  .question-container #country_stats b:after {
    width: 40px;
    height: 40px;
    bottom: -5px;
    top: auto;
    left: 70%;
    bottom: auto;
    right: auto;
    margin-left: 10px;
  }
}