* {
    box-sizing: border-box;
    margin: 0;
    padding: 10;
    font-family: "Comic Sans MS", cursive, sans-serif;
    -webkit-font-smoothing: antialiased;
  }

.App {
  background-image: url(./Pages/Home/starry2.png);
  min-height: 100vh;
  position: relative;
}

.waiting {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(122, 228, 122);
  text-shadow: -3px -3px 0 skyblue, 3px -3px 0 skyblue, -3px 3px 0 skyblue, 3px 3px 0 skyblue;
  font-size: 100px;
}

