* {
    box-sizing: border-box;
    margin: 0;
    padding: 10;
    font-family: 'PT Sans', sans-serif;
  }

.App {
  background-image: url(./Pages/Home/starry2.png);
  min-height: 80vh;
  position: relative;
}



