* {
    box-sizing: border-box;
    margin: 0;
    padding: 10;
    font-family: "Comic Sans MS", cursive, sans-serif;
    -webkit-font-smoothing: antialiased;
  }

.App{
  height: fit-content;
  min-height: 100vh;
  overflow-y: hidden;
}

#app_background_image {
  z-index: -100;
  position: fixed;
  object-fit:cover;
  width: 100vw;
  height: 100vh;
}

.waiting {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgb(122, 228, 122);
  text-shadow: -3px -3px 0 skyblue, 3px -3px 0 skyblue, -3px 3px 0 skyblue, 3px 3px 0 skyblue;
  font-size: 100px;
}

