
.bubble {
    background-color: white;
    text-decoration-color: #000000; 
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-image: url(pop4.png);
    background-repeat: no-repeat;
    background-position: 68em;
    background-size: 300px;
  }
  .bubble2 {
    background-color: white;
    text-decoration-color: #000000; 
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-image: url(surfacearea.jpg);
    background-repeat: no-repeat;
    background-position: 65em;
    background-size: 400px;
  }
  .bubble3 {
    background-color: white;
    text-decoration-color: #000000; 
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-image: url(time-symbol.png);
    background-repeat: no-repeat;
    background-position: 65em;
    background-size: 400px;
  }
  .bubble4 {
    background-color: white;
    text-decoration-color: #000000; 
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-image: url(direction.png);
    background-repeat: no-repeat;
    background-position: 68em;
    background-size: 300px;
  }
  
  .bubble5 {
    background-color: white;
    text-decoration-color: #000000; 
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-image: url(distance.jpg);
    background-repeat: no-repeat;
    background-position: 68em;
    background-size: 300px;
  }

.circle {
    display: inline-block;
    width: 6em;
    height: 6em;
    line-height: 2.5em;
    border-radius: 50%;
    text-align: center;
    background-color: #cc00ff;
    color: #000000;
    font-weight: bold;
    font-size: 1em;
    margin: 0 0.5em 0 0;
    padding-top: 10px;
}
    
.circle1 {
    display: inline-block;
    width: 6em;
    height: 6em;
    line-height: 2.5em;
    border-radius: 50%;
    text-align: center;
    background-color: #cc00ff;
    color: #000000;
    font-weight: bold;
    font-size: 1em;
    margin: 0 0.5em 0 0;
    padding-top: 50px;
    }

.containerf {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }


  @media (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    .bubble2 p{
      font-size: 1rem;
      
    }
  }
  
 
  

  .population{
    
    color: red;
  }

  
