
.bubble {
    background-color: #f2f2f2;
    text-decoration-color: #000000; 
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

.circle {
    display: inline-block;
    width: 6em;
    height: 6em;
    line-height: 2.5em;
    border-radius: 50%;
    text-align: center;
    background-color: #cc00ff;
    color: #000000;
    font-weight: bold;
    font-size: 1em;
    margin: 0 0.5em 0 0;
    padding-top: 10px;
}
    
.circle1 {
    display: inline-block;
    width: 6em;
    height: 6em;
    line-height: 2.5em;
    border-radius: 50%;
    text-align: center;
    background-color: #cc00ff;
    color: #000000;
    font-weight: bold;
    font-size: 1em;
    margin: 0 0.5em 0 0;
    padding-top: 50px;
    }

.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #000000;
  }


  @media (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
  