* {
    box-sizing: border-box;
  }
  
  .Login {
    background-image: url(./starry2.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .formh {
    background-color: #1F2329;
    border-radius: 20px;
    box-shadow: 0 2px 10px #8A2BE2;
    padding: 40px;
    width: 430px;
  }
  
  .formh h1 {
    color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .input-group label {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-group input {
    background-color: #ffffff;
    border: 2px solid #8A2BE2;
    border-radius: 5px;
    color: #8A2BE2;
    font-size: 16px;
    padding: 10px;
  }
  
  button[type="submit"] {
    background-color: #8A2BE2;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.2s ease;
    width: 100%;
    box-shadow: 0 2px 5px #ffffff;
  }
  
  button[type="submit"]:hover {
    background-color: #b875f7;
  }
  
  .pe {
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    padding-left: 5px;
  }

  .pe p{
    color: #ffffff;
  }
  
  a {
    color: #8A2BE2;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  button[type="button"] {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    transition: color 0.2s ease;
  }
  
  button[type="button"]:hover {
    color: #b875f7;
  }
  
  button[type="button"]:focus {
    outline: none;
  }
  
  button[type="button"]:hover {
    text-decoration: underline;
  }
  
  #invalidMessage {
    font-size: 13px;
    color: #f86f6c;
    font-weight: 200;
  }