

.wrapper th{
    color: aliceblue;
    font-size: larger;
    padding:30px;
  }
  
  .wrapper td{
    color: aliceblue;
    padding:30px;
  }
  
  .wrapper table{
    background-color: blueviolet;
    padding:20px;
  }

  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }