.lobby h1{
   color: white;
   font-size: 80px; 
   text-align: center;
}

.back{
  padding: 20px;
  max-width: 900px;
}

.styledbutton{
  background-color: #ab50d4;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 10px 5px 0px 0px;
  cursor: pointer;
  text-align: left;
  box-shadow: 0px 2px 2px lightgray;
  transition: ease background-color 250ms;
  height: 100%;
  width: 0%;
  opacity: 100%;
}

.styledbutton2{
    background-color: #ab50d4;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 10px 5px 0px 0px;
  cursor: pointer;
  text-align: left;
  box-shadow: 0px 2px 2px lightgray;
  transition: ease background-color 250ms;
  height: auto;
  width: auto;
  opacity: 100%;

}
.styledbutton4{
  background-color: #ab50d4;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px #ffffff;

}

.styledbutton3{
  background-color: #ab50d4;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 10px 5px 0px 0px;
  cursor: pointer;
  text-align: left;
  box-shadow: 0px 2px 2px lightgray;
  transition: ease background-color 250ms;
  height: auto;
  width: auto;
  opacity: 100%;
}

.styledbutton:hover {
    background-color: #975CAB;
  }

  .styledbutton2:hover {
    background-color: #b875f7;
    color: #4E2461;
  }

  .styledbutton3:hover {
    background-color: #b875f7;
    color: #4E2461;

  }

  .styledbutton4:hover {
    background-color: #b875f7;
 

  }

  .styledbutton3:focus{
    opacity: 100%;
    border: 2px white;
  }

  .styledbutton2:focus{
    opacity: 100%;
    border: 2px white;
  }

  .styledbutton2:checked{
    opacity: 100%;
    border: 2px white;
  }

  .styledbutton3:checked{
    opacity: 100%;
    border: 2px white;
  }

  .styledbutton:disabled {
    cursor: default;
    opacity: 0.7;
  }

.lobby{
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #4E2461;
    text-align: center;
  }

.lobby_table{
  max-height: 500px;
  overflow-y: scroll;
}

.submit{
    background-color: #4E2461;
    color: #4E2461;
}

.leaderboard h1{
    color: antiquewhite;
  font-size: 80px;

}

.table th{
    color: aliceblue;
    font-size: larger;
    padding:30px;
    border-bottom: none;


}

.table td{
    color: aliceblue;
    background-color: #1F2329;
    border-bottom: none;
    text-align: center;


  }

.table{
    background-color: #1F2329;
    height: 100%;
    text-decoration-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px #8A2BE2;
  }
  .leaderboard{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

.settingscontainer{
    align-items: center;
    text-align: center;
    min-height: 100%;

}


.settings{
    background-color: #1F2329;
    border-radius: 10px;
    box-shadow: 0 2px 10px #8A2BE2;
    padding: 20px;
}

.settings h2{
    text-align: center;
    color: white;
}

.settings h3{
    color: white;
    margin-top: 2%;
}

.lob{
    
    text-align: center;
}

.lob h1{
    color: white;
    font-size: 4vw;
    text-decoration: none;
}



.form{
  background-color: #4E2461;
  height: 50%;
  width: 20%;
  align-self: center;

  justify-content: center;
}

.formf{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #1F2329;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 10px #8A2BE2;
  padding:20px;
}
.formf h1{
  text-decoration: none;
}

.formf h2{
  text-decoration: none;
}

.columnss{
  font-size:10%;
 align-items: center;
  
  width: 800px;
  background-color:#ab50d4;
  
  
  
}