.home {
    color: purple;
    background-image: url(./starry2.png)
}           


.links{
    color: black;
}

.btns{
    text-align: center;
    padding-top: 10px;
    height: fit-content;
}

.btns2{
    text-align: center;
    height: fit-content;
}

.top{
    height: 100%;
    background-color: aliceblue;
    position: relative;
    background-image: url(./starry2.png);

}

.top h1{
    text-align: center;
    color: rgb(122, 228, 122);
    text-shadow: -3px -3px 0 skyblue, 3px -3px 0 skyblue, -3px 3px 0 skyblue, 3px 3px 0 skyblue;
    font-size: 7vw;
    font-family: "Comic Sans MS";

}

.top h2{
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}

.bottom{
    height: fit-content;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 7px solid #4E2461;
    position:absolute;
    bottom: 0;
    margin-bottom: -0.5%;
    

}

.column2{
    height: fit-content;
}

.home-headers{
    text-align: center;
    width: 100%;
    justify-content: center;

    
}

.home-headers h1{
    text-decoration: none;
}

.bottom h1{
    color: rgb(233, 24, 128);
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 300%;
}

.bottom p{
    color:#4E2461;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    text-overflow: clip;
    font-size: larger;
}

.homestyledbutton{
    background-color: #ae00ff;
  color: white;
  padding: 15px 30px;
  border-radius: 15px;
  margin: 10px 5px 10px 20px;
  cursor: pointer;
  text-align: left;
  transition: ease background-color 250ms;
  height: fit-content;
  width: fit-content;
  opacity: 100%;
  text-decoration: none;
  
}

.homestyledbutton:hover{
    text-decoration: none;
    color: #4E2461;
}

.homestyledbutton2{
    background-color: #ae00ff;
  color: white;
  padding: 15px 30px;
  border-radius: 15px;
  margin: 10px 5px 10px 20px;
  cursor: pointer;
  text-align: left;

  transition: ease background-color 250ms;
  height: fit-content;
  width: fit-content;
  opacity: 100%;
  text-decoration: none;
}

.homestyledbutton2:hover{
    text-decoration: none;
    color: #4E2461;
}

.earth{
    height: fit-content;
    padding-bottom: 3%;
    position: relative;
}

.earth:hover{
    
}

#box {
    background-image: url(./earth.png);
    background-size:cover;
    border:7px solid #000;
    border-radius:50%;
    width:200px;
    height:200px;
    margin:auto;


  }

  


  