.home {
    color: purple;
    background-image: url(./starry.png)
}           


.links{
    color: black;
}

.btns{
    text-align: center;
}

.top{
    height: 100%;
    background-color: aliceblue;
    position: relative;
    background-image: url(./starry2.png);

}

.top h1{
    text-align: center;
    color: rgb(122, 228, 122);
    text-shadow: -3px -3px 0 skyblue, 3px -3px 0 skyblue, -3px 3px 0 skyblue, 3px 3px 0 skyblue;
    font-size: 100px;
    font-family: "Comic Sans MS", cursive, sans-serif;

}

.top h2{
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}

.bottom{
    height: 30%;
    background-color: rgb(255, 255, 255);
    border: 7px solid #4E2461;
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    

}

.bottom h1{
    color: rgb(233, 24, 128);
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}

.bottom p{
    color:#4E2461;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    text-overflow: clip;
    font-size: larger;
}

.styledbutton{
    background-color: #ae00ff;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  margin: 10px 5px 10px 20px;
  cursor: pointer;
  text-align: left;
  box-shadow: 0px 2px 2px lightgray;
  transition: ease background-color 250ms;
  height: 10vh;
  width: 10vh;
  opacity: 100%;
  text-decoration: none;
}

.styledbutton:hover{
    text-decoration: none;
    color: #4E2461;
}