.home {
    color: purple;
}           


.links{
    color: black;
}

.btns{
    text-align: center;
    padding-top: 10px;
    height: fit-content;
}

.btns2{
    text-align: center;
    height: fit-content;
}

.top{
    height: 100%;
}

.top h1{
    text-align: center;
    color: rgb(122, 228, 122);
    text-shadow: -3px -3px 0 skyblue, 3px -3px 0 skyblue, -3px 3px 0 skyblue, 3px 3px 0 skyblue;
    font-size: 7vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2%;

}

.top h2{
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: center;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
    height: 10px;


  }

.bottom{
    height: fit-content;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 7px solid #4E2461;
    position:relative; 
    bottom: 270px;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column2{
    height: fit-content;
}

.home-headers{
    text-align: center;
    width: 100%;
    justify-content: center;

    
}

.home-headers h1{
    text-decoration: none;
}

.bottom h1{
    color: rgb(233, 24, 128);
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 300%;
}

.bottom p{
    color:#4E2461;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    text-overflow: clip;
    font-size: larger;
}

.homestyledbutton{
    background-color: #ae00ff;
  color: white;
  padding: 15px 30px;
  border-radius: 15px;
  margin: 10px 5px 10px 20px;
  cursor: pointer;
  text-align: left;
  transition: ease background-color 250ms;
  height: fit-content;
  width: fit-content;
  opacity: 100%;
  text-decoration: none;
  
}

.homestyledbutton:hover{
    text-decoration: none;
    color: #4E2461;
}

.homestyledbutton2{
    background-color: #ae00ff;
  color: white;
  padding: 15px 30px;
  border-radius: 15px;
  margin: 10px 5px 10px 20px;
  cursor: pointer;
  text-align: left;

  transition: ease background-color 250ms;
  height: fit-content;
  width: fit-content;
  opacity: 100%;
  text-decoration: none;
}

.homestyledbutton2:hover{
    text-decoration: none;
    color: #4E2461;
}

.earth{
    height: 495px;
}

#box {
    background-image: url(./earth2.png);
    background-size:cover;
    border:2px solid #000;
    border-radius:50%;
    width:300px;
    height:300px;
    animation: moveearth 10s linear 0s infinite;
    box-shadow:0 0 10px RGBA(255,255,255, 0.10),
               -4px -4px 15px #000 inset,
               2px 2px 15px #000 inset,
               -45px -20px 25px RGBA(0,0,0, 0.5) inset, 
               25px 25px 25px RGBA(0,0,0, 0.45) inset;
    margin:6em auto;
    transform:rotateX(6deg) rotateY(6deg) rotateZ(6deg);
  }
  
  @keyframes moveearth {
    0% { background-position:0 0 }
    100% { background-position:355px 0 }
  }
  
  

/*#box {
    background-image: url(./earth.png);
    background-size:cover;
    border:7px solid #000;
    border-radius:50%;
    width:200px;
    height:200px;
    margin:auto;


  }*/

.errormsgtxt{
    font-size: 70%;
    color: aliceblue;
}
  


  