.waiting{
    width: fit-content;
    
}
.rtn1{
  position: relative;
  right: -500px;
}
.wfpstyledbutton{
    background-color: #ae00ff;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 10px 5px 10px 20px;
    cursor: pointer;
    text-align: left;
    transition: ease background-color 250ms;
    height: fit-content;
    width: fit-content;
    opacity: 100%;
    text-decoration: none;

}

.wfpstyledbutton:hover{
    text-decoration: none;
    color: #4E2461;
}

body::-webkit-scrollbar {
    width: 12px;               
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(120, 28, 206);       
  }

  body::-webkit-scrollbar-thumb {
    background-color: rgb(230, 215, 228);    
    border-radius: 20px;       
    border: 3px solid rgb(194, 182, 159); 

  }
  
  