
.wrapper h1{
  color: rgb(39, 223, 174);
  font-size: 70px;
  position:relative;
  right: -200px;
  
}
.wrapper th{
    color: rgb(39, 223, 174);
    font-size: 30px;
    padding:30px;
  }
  
  .wrapper td{
    color: rgb(39, 223, 174);
    padding:10px;
    font-size: 30px;
  }
  
  .wrapper table{
    background-color: rgb(122, 39, 206);
    padding: 40px;
    border-radius: 20px;
    position:relative;
    right: -200px;

  }

  .wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../Account/Images/uni1.jpg);
  }


  .Credentials {
    background-color: rgb(122, 39, 206);
    padding: 20px;
    border-radius: 20px;

    position:relative;
    left: -100px;
   



  }
  .wrapper credentialsAccount{
    align-items: center;
  }
