
.wrapper h1{
  color: rgb(39, 223, 174);
  font-size: 80px;
}
.wrapper th{
    color: rgb(39, 223, 174);
    font-size: 40px;
    padding:30px;
  }
  
  .wrapper td{
    color: rgb(39, 223, 174);
    padding:30px;
    font-size: 30px;
  }
  
  .wrapper table{
    background-color: rgb(122, 39, 206);
    padding: 50px;
    border-radius: 20px;

  }

  .wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../Account/Images/uni1.jpg);
  }