.join-lobby-wrapper {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.join-lobby-container {
  background-color: #1F2329;
  border-radius: 10px;
  box-shadow: 0 2px 10px #8A2BE2;
  padding: 40px;
  width: 400px;
  max-width: 90%;
}

.join-lobby-header {
  margin-bottom: 20px;
  text-align: center;
}

.join-lobby-header h2 {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin: 0;
}

.join-lobby-form {
  display: flex;
  flex-direction: column;
}

.join-lobby-input-group {
  margin-bottom: 20px;
}

.join-lobby-input-group label {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.join-lobby-input-group input[type="text"] {
  border: 2px solid #8A2BE2;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 10px;
  width: 100%;
}

.join-lobby-button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.join-lobby-button {
  background-color: #8A2BE2;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 20px;
  transition: background-color 0.3s ease;

}

.join-lobby-button:hover {
  background-color: #b875f7;
}

.return-home-button {
  background-color: #8A2BE2;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.return-home-button:hover {
  background-color: #b875f7;
}
