.join-lobby-wrapper {
  background-color: #0f2027;
  background-image: linear-gradient(315deg, #0f2027 0%, #203a43 74%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.join-lobby-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
  width: 400px;
  max-width: 90%;
}

.join-lobby-header {
  margin-bottom: 20px;
  text-align: center;
}

.join-lobby-header h2 {
  color: #3f51b5;
  font-size: 1.5rem;
  margin: 0;
}

.join-lobby-form {
  display: flex;
  flex-direction: column;
}

.join-lobby-input-group {
  margin-bottom: 20px;
}

.join-lobby-input-group label {
  color: #3f51b5;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.join-lobby-input-group input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 10px;
  width: 100%;
}

.join-lobby-button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-lobby-button {
  background-color: #3f51b5;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.join-lobby-button:hover {
  background-color: #2c3e50;
}

.return-home-button {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #3f51b5;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.return-home-button:hover {
  background-color: #e3e3e3;
}
