


.score {
  display: flex;
  justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(122, 228, 122);
    text-shadow: -3px -3px 0 skyblue, 3px -3px 0 skyblue, -3px 3px 0 skyblue, 3px 3px 0 skyblue;
    font-size: 120px;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
  
  .rankings {
    display: flex;
    justify-content: center;
    padding-left: 300px;
  }

  .alltable2 {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
  }

  .columns2 {
     
    justify-content: center;
    height: fit-content;
  }
  .button1{
    display: flex;
    justify-content: center;
    position: relative;
    height:100px;
    width: 250px;
    border-radius: 80px;
    background-color: #8deccf;
    right: -550px;
    margin-top:8vh;
  }
  .btn{
    display: flex;
    justify-content: center;
    
    
  }
  .btntext{
    display: flex;
    justify-content: center;
    position: relative;
    top: -8px;
  }