.score {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(122, 228, 122);
    text-shadow: -3px -3px 0 skyblue, 3px -3px 0 skyblue, -3px 3px 0 skyblue, 3px 3px 0 skyblue;
    font-size: 120px;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }


  .alltable2 {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    display: flex;
  }

  .columns2 {
    height: fit-content;
    width: 33.34%;

  }
  .buttonp1{
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  .btn9{
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  .btntext{
    position: relative;
    top: -8px;
    color: white;
  }

  .styledbutton7 {
    background-color: #ab50d4;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px #ffffff;
    margin-top: 10px;
}