.leaderboard h1{
  color: rgb(39, 223, 174);
  font-size: 80px;

}

.leaderboard th{
    color: aliceblue;
    font-size: larger;
    padding:30px;
}

.leaderboard td{
    color: aliceblue;
    padding:30px;
  }

  .leaderboard table{
    background-color: rgb(122, 39, 206);
    padding: 80px;
    border-radius: 20px;
  }
  .leaderboard{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../Leaderboards/Images/LDBimage.jpg);
  }